In [197]:
import pandas as pd
path = 'C:\\Users\\staff\\Desktop\\Математика,машинное_обучение\\Практика\\Names_HW\\yob'

def count_top3(*years):
    df_res = []
    for year in years:
        df = pd.read_csv(f'{path}{year}.txt', names=['Names', 'Gender', 'Count'])
        df['Year'] = year
        df_res.append(df)
    df_res = pd.concat(df_res)
    df_res.reset_index(inplace=True)
    df_top_name = df_res.groupby(['Names']).sum()[["Count"]].sort_values('Count', ascending=False).head(3)
    return df_top_name

count_top3(1900, 1950, 2000)

         Count
Names
James   111789
John    109601
Robert  101368

In [214]:
def count_dynamics(*years):
    df_res = []
    for year in years:
        df = pd.read_csv(f'{path}{year}.txt', names=['Names', 'Gender', 'Count'])
        df['Year'] = year
        df_res.append(df)
    df_res = pd.concat(df_res)
    df_res.reset_index(inplace=True)

    df_result = df_res.groupby(['Gender', 'Year']).sum()[["Count"]] 
    return df_result
    
count_dynamics(1900, 1950, 2000)

               Count
Gender Year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202